[submodule "sketch_aug16a/ESP8266Ping"]
	path = sketch_aug16a/ESP8266Ping
	url = https://github.com/dancol90/ESP8266Ping
[submodule "blynk-library"]
	path = blynk-library
	url = https://github.com/blynkkk/blynk-library
[submodule "arduino-remotexy"]
	path = arduino-remotexy
	url = https://github.com/RemoteXY/RemoteXY-Arduino-library
[submodule "Async_Operations"]
	path = Async_Operations
	url = https://github.com/DaniFoldi/Async_Operations
[submodule "RemoteXY-Arduino-library"]
	path = RemoteXY-Arduino-library
	url = https://github.com/RemoteXY/RemoteXY-Arduino-library
