#ifndef __SECRETS_H__
#define __SECRETS_H__

#define WLAN_SSID     "WiFi network SSID"
#define WLAN_PASS     "WiFi network password"
#define AIO_USERNAME  "User name from io.adafruit.com"
#define AIO_KEY       "User key from io.adafruit.com"


#endif